---
layout: default
title: Home
menu: Home
---

<!--hero section-->
<div id="fullscreen-banner" class="full-banner text-center vertical-align banner-borbit">
    <div class="container-mid">
        <div class="container">
            <div class="banner-title">
                <h1 class="text-uppercase b-lg-txt big-title-mt title-no-letter-spacing" >Would you like to have an iPhone app?</h1>

                </br>
                <div class="hidden-mobile">
                    </br>
                    </br>
                </div>

                <h3 class="text-uppercase title-no-letter-spacing">Let's make one, it's super easy </h3>


                <div class="m-top-button">
                    <a href="#our-services" class="btn btn-medium btn-dark-solid btn-rounded text-uppercase button-without-margin-right background-black" data-scroll>Let's get started</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--hero section-->

<section class="body-content ">

    <!--feature -->
    <div id="our-services" class="page-content">
        <div class="container">
            <div class="row">


                <!--title-->
                <div class="heading-title border-short-bottom  text-center">
                    <h3 class="text-uppercase">our services</h3>
                </div>
                <!--title-->


                <!--feature border box start-->
                <div class="feature-box-grid">

                    <div class="col-md-4">
                        <div class="featured-item border-box text-center featured-item-fixed-height">
                            <div class="icon">
                                <i class="icon-basic_bolt"></i>
                            </div>
                            <div class="title text-uppercase">
                                <h4>Fast Delivery</h4>
                            </div>
                            <div class="desc">
                                The App Store makes it simple for users around the world to discover, download and enjoy your apps.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="featured-item border-box text-center featured-item-fixed-height">
                            <div class="icon">
                                <i class=" icon-basic_pencil_ruler"></i>
                            </div>
                            <div class="title text-uppercase">
                                <h4>professional code</h4>
                            </div>
                            <div class="desc">
                                We support both languages, Objective C and Swift. Swift is the result of the latest research on programming languages, combined with decades of experience building Apple platforms.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="featured-item border-box text-center featured-item-fixed-height">
                            <div class="icon">
                                <i class="icon-mobile"></i>
                            </div>
                            <div class="title text-uppercase">
                                <h4>easy customize</h4>
                            </div>
                            <div class="desc">
                                Include the new APIs and services that enable new categories of apps and features. In-app purchases, push notifications, login with Facebook, Google, and much more.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="featured-item border-box text-center featured-item-fixed-height">
                            <div class="icon">
                                <i class="icon-basic_gear"></i>
                            </div>
                            <div class="title text-uppercase">
                                <h4>24/7 support</h4>
                            </div>
                            <div class="desc">
                                Our team is available for any questions you may have regarding our work.
                                Feel free to drop us a line at any time. We are open 24/7.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="featured-item border-box text-center featured-item-fixed-height">
                            <div class="icon">
                                <i class="icon-device_iphone"></i>
                            </div>
                            <div class="title text-uppercase">
                                <h4>Cutting-Edge Technology</h4>
                            </div>
                            <div class="desc">
                                We exploit all the power of new technologies and employ the most current and high-level IT developments.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="featured-item border-box text-center featured-item-fixed-height">
                            <div class="icon">
                                <i class="icon-basic_todolist_pencil"></i>
                            </div>
                            <div class="title text-uppercase">
                                <h4>clean code</h4>
                            </div>
                            <div class="desc">
                                Bad code can bring a development organization to its knees. But it doesn’t have to be that way. We use best coding practices.
                            </div>
                        </div>
                    </div>
                </div>
                <!--feature border box end-->

            </div>

        </div>
    </div>
    <!--feature -->


    <div class="page-content">
        <div class="container">
            <div class="row">

                <!--title-->
                <div class="heading-title border-short-bottom text-center">
                    <h3 class="text-uppercase">Recent Work</h3>
                </div>
                <!--title-->

                <div class="col-md-12">
                    <!--filter start-->
                    <div class="text-center">
                        <ul class="portfolio-filter">
                            <li class="active"><a href="#" data-filter="*"> All</a>
                            </li>
                            <li><a href="#" data-filter=".cat_ios">iOS</a>
                            </li>
                        </ul>
                    </div>
                    <!--filter end-->

                    <div class="portfolio col-2 gutter ">

                        {% for proyect in site.proyects %}
                            <div class="portfolio-item {{ proyect.categories | join: ' ' }}">
                                <div class="thumb">

                                    <img src="{{ proyect.image }}" alt="">
                                    <div class="portfolio-hover">
                                        <div class="action-btn">
                                            <a href="{{proyect.url}}"> <i class="icon-basic_magnifier"></i> 
                                            </a>
                                        </div>
                                        <div class="portfolio-description">
                                            <h4><a href="{{proyect.url}}">{{proyect.title}}</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
     </div>

  <div class="page-content">
        <div class="container">
            <div class="row">

                <!--title-->
                <div class="heading-title border-short-bottom text-center">
                    <h3 class="text-uppercase">Latest blog entry</h3>
                </div>
                <!--title-->

                <div class="col-md-12">

                    {% assign post = site.posts.first %}
                    <!--classic text post-->
                    <div class="blog-classic">
                        <div class="date">
                            {{ post.date | date: "%-d" }}
                            <span class="text-uppercase">{{ post.date | date: "%b %Y" }}</span>
                        </div>
                        <div class="blog-post">

                            {% if post.image %}
                                <div class="full-width">
                                    <img src="{{ post.image }}" alt="" />
                                </div>
                            {% endif %} 

                            <h4 class="text-uppercase"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h4>
                            <ul class="post-meta">
                                <li><i class="fa fa-user"></i>posted by <a href="#">{{ post.author }}</a>
                                </li>
                                <li>
                                    <i class="fa fa-folder-open"></i> 
                                    {% for category in post.categories %}
                                        <a href="#">{{ category }} {% if category != post.categories.last %}, {% endif %}</a>
                                    {% endfor %}
                                </li>
                                {% if post.comments != false %}
                                    <li><i class="fa fa-comments"></i><a href="{{ post.url }}#disqus_thread">0 Comments</a>
                                    </li>
                                {% endif %}   
                            </ul>
                            {{ post.excerpt }}
                            <a href="{{ post.url | relative_url }}" class="btn btn-small btn-dark-solid  "> Continue Reading</a>
                        </div>
                    </div>
                    <!--classic text post-->

                </div>
            </div>
        </div>
    </div>


    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="heading-title border-short-bottom  text-center">
                    <h3 class="text-uppercase">Testimonials</h3>
                </div>

                <div class="col-md-12">
                    <!--testimonial start-->
                    <div id="testimonial-2" class="outer-border">
                        <div class="item">
                            <div class="icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="content">
                                <p>
                                    NVestibulum varius fermentum risus vitae lacinia neque auctor nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero aliquet.
                                </p>
                                <div class="testimonial-meta">
                                    - Cecilia Pérez -
                                    <span>Founder at Vive Uy</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--testimonial end-->
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="heading-title border-short-bottom text-center">
                    <h3 class="text-uppercase">Contact Us</h3>
                </div>

                {% include contact.html %}

                </div>
            </div>
        </div>
    </div>


 </section>