
@media screen and (min-width: 0px) and (max-width: 768px) {
  .date { display: none; }
}

@media screen and (min-width: 769px) {
  .date { display: block; }
}

.highlight code {
  white-space: pre;    // this sets all children inside to nowrap
}


.btn-app-store {
	padding: 0;
	margin-right: 5px;
	border: 0;
}

.visit-website-black {
	background-color: black;
	margin-right: 0;
	width: 134px;
}

.img-email {
	margin-right: 3px;
}

.featured-item-fixed-height {
    height: 340px;
}

 
.testimonial-custom li {
	height: auto; 
    padding-left: 0px;
}

.avatar-custom {
	padding-left: 0px;
    margin-bottom: 20px;
}

.testimonial-text {
	padding-left: 0px;
	padding-right: 0px;
}


.banner-borbit {
    background-image: none !important;
}

.big-title-mt {
	margin-top: 50px;
}

.title-no-letter-spacing {
	letter-spacing: normal !important;
}

#menuzord-brand {
	margin-top: 0px;
	color: #333;
	font-weight: normal;
	padding-top: 8px;
	font-size: 14px;
}

.m-top-button {
	margin-top: 50px;
}

.m-top-subtitle {
	margin-top: 38px;
}

.tag-title {
	margin-top: 30px;
}

.tag-index {
	height: 50px;
	width: 100%;
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 769px) 
  and (-webkit-min-device-pixel-ratio: 1) { 


	.big-title-mt {
		margin-top: -150px;
	}

	#menuzord-brand {
		padding-top: 0px;
	}

	.m-top-button {
		margin-top: 100px;
	}

	.m-top-subtitle {
		margin-top: 75px;
	}

	.tag-title {
		margin-top: 0px;
	}

	.tag-index {
		height: 100px;
		width: 100%;
	}
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 769px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

  	.big-title-mt {
		margin-top: -150px;
	}

	#menuzord-brand {
		padding-top: 0px;
	}

	.m-top-button {
		margin-top: 100px;
	}

	.m-top-subtitle {
		margin-top: 75px;
	}	

	.tag-title {
		margin-top: 0px;
	}

	.tag-index {
		height: 100px;
	}
}

.button-without-margin-right {
	margin-right: 0px;
}

.background-black {
	background-color: #333;
}

.background-black:focus {
	background-color: #333;
}

.background-black:hover {
	background-color: #333;
}

.background-black:active {
	background-color: #333;
}

.m-bottom-zero {
	margin-bottom: 0px;
}


.lift-off_show:hover {
	background: rgba(0, 0, 0, .6);
	color: #fff;
}


.custom-tag:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
}
.custom-tag {
    padding: 3px 10px;
    color: #837f7e;
    border: 1px solid #d3d3d3;
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
}

.tag-container {
	margin: 20px;
}

.tag-link {
	color: #6f6f6f;
}

.tag-link li {
	margin-bottom: 10px;
}

.tag-link small {
	color: #a2a2a2;
}