
@media screen and (min-width: 0px) and (max-width: 768px) {
  .date { display: none; }
}

@media screen and (min-width: 769px) {
  .date { display: block; }
}

.highlight code {
  white-space: pre;    // this sets all children inside to nowrap
}


.btn-app-store {
	padding: 0;
	margin-right: 5px;
	border: 0;
}

.visit-website-black {
	background-color: black;
	margin-right: 0;
	width: 134px;
}

.img-email {
	margin-right: 3px;
}

.featured-item-fixed-height {
    height: 340px;
}

 
.testimonial-custom li {
	height: auto; 
    padding-left: 0px;
}

.avatar-custom {
	padding-left: 0px;
    margin-bottom: 20px;
}

.testimonial-text {
	padding-left: 0px;
	padding-right: 0px;
}


.banner-borbit {
    background-image: none !important;
}

.big-title-mt {
	margin-top: 70px;
}

.title-no-letter-spacing {
	letter-spacing: normal !important;
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 769px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

	.big-title-mt {
		margin-top: -200px;
	}
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 769px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

  	.big-title-mt {
		margin-top: -200px;
	}
}


.m-top-button {
	margin-top: 100px;
}

.button-without-margin-right {
	margin-right: 0px;
}



