<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}"  class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

    {% include head.html %}
    
  <body>

    {% include preloader.html %}
    
    <div class="wrapper">   

        {% include header_index.html %}

        {{ content }}

        {% include footer.html %}
    </div>
    
    {% include javascripts.html %}


  </body>

</html>
